<!-- Log-in Page -->

<div class = "header-spacer"></div>
<div class = "user-container">
  <div class="registration-block"> 
  <div class="center-text"> Login</div>

  <div id = "login-form">
    <%= form_tag '/login' do %>

      Email: <%= text_field_tag :email %><br>
      Password: <%= password_field_tag :password %><br>
      <%= submit_tag "Submit" %>

    <% end %>
  </div>
  </div>
</div>