<!-- User Profile Page -->
<div class = "header-spacer"></div>
<div class = "user-container">
<% if @user.id == current_user.id %>
<%= render :partial => 'userview' %>
<% else %>
<%= render :partial => 'guestview'%>
<% end %>
</div>