<div class = "header-spacer"></div>
<div id = "timebox-id"><%= @timebox.id %></div>
<div id = "timer-block"></div>
<div id = "timer-container">
    <div class = "center-text">
      Time to get to work, <%= @timebox.creator.name %>!
    </div>
    <div class = "countdown-container">
      <div id = "timer-div">
        <div id = "timer-min">
        </div>
        <div id="timer-colon"></div>
        <div id = "timer-sec"></div>
      </div>
    </div>
    <div id = "timer-button">
      <div id = "start-button">Start</div>
      <div id = "pause-button">Pause</div>
      <div id = "resume-button">Resume</div>
    </div>
    <div id = "exit-button">Exit</div>

    <div id = "pause-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is paused!</h1>
      <% end %>
    </div>

    <div id = "start-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is active!</h1>
      <% end %>
    </div>
    <div></div>
</div>
<div id = "cycles"></div>
<div id = "audio">
	<audio id = "airhorn" preload="auto"><source src="/sounds/airhorn.mp3" type="audio/mpeg"></audio>
</div>
