<div class = "header-spacer"></div>
<div class = "timer-container">
  <div id = "timer-block"> 
    <div class = "center-text">
      This is where timebox type will be displayed
    </div>
    <div id = "countdown-container">
      <div id = "timer-div">
        <div id = "timer-min"><%= @timebox.work_block_time %></div>:<div id = "timer-sec">00</div>
        </div>
      </div>
      <div id = "timer-button">
        <div id = "start-button">Start</div>
        <div id = "pause-button">Pause</div>
        <div id = "resume-button">Resume</div>
      </div>

      <div id = "pause-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is paused!</h1>
      <% end %>
      </div>

      <div id = "start-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is active!</h1>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>