body {
	margin: 0px;
}

.background {
	position: relative;
	/*overflow: hidden;form*/
}

.background img {
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}
.header-spacer{
	height: 10em;
}
#header-bar{
	position: fixed;
	top: 0;
	background-color: black;
	height: 80px;
	width: 100%;
	z-index: 2;
}

#header-site-name a{
	text-decoration: none;
	color: white;
	font-size: 30px;
	height: 32px;
	position: absolute;
	top: 38px;
	left: 20px;
	margin-top: -30px;
	font-family: "Arial Black", Gadget, sans-serif;
	display: inline-block;
	padding: 10px;
}

#header-site-name a:hover {
  font-size: 31px;
}

#header-user-id {
	color: white;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
}

#header-user-id a {
	color: white;
}

#header-user-id a:hover {
	font-size: 18px;
}

.spacer{
	height: 20em;
}
.intro-block {
	background-color: white;
	opacity: 0.8;
	height: 30em;
}

.center-text {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	padding-top: 15px;
}

.set-timeblock {
	position: relative;
	margin-top: 100px;
	font-size: 25px;
	background-color: gray;
	width: 325px;
	text-align: center;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
}

.set-timeblock a {
	text-decoration: none;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
}

.user-container {
	width: 80%;
	margin: 0 auto;
 }

#profile-block {
	background-color: white;
	opacity: 0.8;
	height: 35em;
	border-radius: 15px;
}

.total-stats {
 	text-align: center;
 	font-size: 20px;
}

#profile-block .img-circle {
	position: relative;
	margin-top: 15px;
	opacity: 1;
 	background-color: gray;
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

#timer-container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: -35em;
}

#timer-div{
	position: relative;
	width: 310px;
	height: 310px;
	border-radius: 100%;
	margin: auto;
	background-color: black;
	opacity: 1;
	color: white;
	font-size: 120px;
	overflow: hidden;
}
#timer-min{
	position: absolute;
	left: 20px;
	top: 75px;
	display: inline-block;
	color: white;
	font-size: 120px;
}
#timer-colon{
	display: inline-block;
	margin-top: 70px;
	position: absolute;
	left: 44%;
}
#timer-sec{
	position: absolute;
	right: 20px;
	top: 75px;
	display: inline-block;
	color: white;
	font-size: 120px;
}

#timer-block {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	opacity: 0.8;
	height: 35em;
	border-radius: 15px;
	text-align: center;
}

#timer-selector {
	position: relative;
	width: 75%;
	margin: auto;
	text-align: center;
	margin-top: 100px;
}

#timer-selector label {
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 15px;
}

#timer-selector select {
	width: 150px;
	margin-top: 25px;
}

#timer-selector .submit-button {
	margin-top: 50px;
	width: 150px;
	font-size: 15px;
}

#start-button{
	background-color: green;
	display: none;

}

#exit-button{
	display: none;
	text-align: center;
	background-color: red;
	width: 150px;
	height: 40px;
	margin: auto;
	margin-top: 25px;
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#pause-button{
	background-color: red;
	display: none;
}

#resume-button{
	background-color: green;
	display: none;
}

#timebox-id{
	display: none;
}
#cycles{
	color: red;
	font-size: 50px;
}
#timer-button {
	text-align: center;
	width: 150px;
	height: 40px;
	margin: auto;
	margin-top: 25px;
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#pause-message {
	display: none;
	font-family: Arial;
	font-style: italic;
	font-size: 14px;
}

#start-message {
	display: none;
	font-family: Arial;
	font-style: italic;
	font-size: 14px;
}

.countdown-container {
	margin-top: 50px;
}

#registration-block {
	background-color: white;
	opacity: 0.8;
	height: 25em;
	border-radius: 15px;
}

#login-block {
	background-color: white;
	opacity: 0.8;
	height: 20em;
	border-radius: 15px;
}

#registration-form {
	width: 50%;
	margin: auto;
	margin-top: 60px;
}

#login-form {
	width: 50%;
	margin: auto;
	margin-top: 60px;
}

.errors {
	color: red;
	font-size: 14px;
}

.activity-container {
	width: 80%;
	margin: 0 auto;
}

#activity-block {
	background-color: white;
	opacity: 0.8;
	height: 20em;
	border-radius: 15px;
}

#activity-form {
	width: 50%;
	margin: auto;
	margin-top: 60px;
}

#activity-list {
	margin-left:100px;
}
