<!-- New Activity Page -->

<div class = "header-spacer"></div>
<div class = "activity-container">
  <div id = "activity-block"> 
  <div class="center-text">Add a new activity</div>
    <%= render 'form' %>
  </div>
  </div>
</div>
